<nb-card size="giant">
  <nb-tabset fullWidth>

    <nb-tab tabTitle="Events">
      <nb-list>
        <nb-list-item class="contact" *ngFor="let c of contacts">
          <nb-user picture="https://upload.wikimedia.org/wikipedia/commons/0/05/Setneg-logo.PNG" name="Sidang Kabinet No. #SKRKBTXYZ" title="20 Januari 2020" size="large"></nb-user>
          <nb-icon icon="email-outline" pack="eva"></nb-icon>
        </nb-list-item>
      </nb-list>
    </nb-tab>

    <nb-tab tabTitle="Members">
      <nb-list>
        <nb-list-item class="contact" *ngFor="let c of recent">
          <nb-user [picture]="c.user.picture" [name]="c.user.name" [title]="c.type" size="large"></nb-user>
          <span class="caption">{{ c.time | date: 'shortTime' }}</span>
        </nb-list-item>
      </nb-list>
    </nb-tab>

  </nb-tabset>
</nb-card>
