<nb-card>
  <nb-card-header>
    Smart Table
  </nb-card-header>

  <nb-card-body>
    <ng2-smart-table [settings]="this.settings" [source]="this.source" (deleteConfirm)="this.onDeleteConfirm($event)">
    </ng2-smart-table>
  </nb-card-body>
</nb-card>
