<div class="row">
  <div class="col-xxxl-3 col-md-3" *ngFor="let statusCard of statusCards">
    <ngx-status-card [title]="statusCard.title" [type]="statusCard.type" jumlah="1928">
      <i [ngClass]="statusCard.iconClass"></i>
    </ngx-status-card>
  </div>
  <div class="col-xxxl-3 col-md-3">
    <ngx-status-card (click)="openWindowForm()" title="Create Undangan" type="warning" jumlah="">
      <i ngClass="nb-coffee-maker"></i>
    </ngx-status-card>  
  </div>
</div>

<!-- <div class="row">
  <div class="col-xxxl-3 col-xxl-4 col-lg-5 col-md-6">
    <ngx-temperature></ngx-temperature>
  </div>

  <div class="col-xxxl-3 col-xxl-4 col-lg-5 col-md-6" >
    <ngx-electricity></ngx-electricity>
  </div>
</div> -->

<div class="row">
  <!-- <div class="col-xxxl-9 col-xl-12">
    <ngx-rooms></ngx-rooms>
  </div> -->

  <div class="col-xxxl-12 col-xxl-12 col-lg-12 col-md-12">
    <!-- <ngx-contacts></ngx-contacts> -->
    <ngx-smart-table></ngx-smart-table>
  </div>

  <!-- <div class="col-xxxl-3 col-xxl-4 col-lg-5 col-md-6">
    <ngx-solar [chartValue]="solarValue"></ngx-solar>

    <ngx-kitten></ngx-kitten>
  </div>

  <div class="col-xxxl-3 col-xxl-4 col-md-5">
    <ngx-traffic></ngx-traffic>
    <ngx-weather></ngx-weather>
  </div>

  <div class="col-xxxl-6 col-xxl-12 col-md-7">
    <ngx-security-cameras></ngx-security-cameras>
  </div> -->
</div>
